
body {
    background-color: #f5f5f5;
    border-top: 5px solid #ee7358;
    padding-bottom: 70px;
}

.article {
    background-color: #fff;
    color: #505761;
}

.article h4 {
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.article .meta span {
    padding-right: 20px;
    color: #ccc;
}
.article .meta span:hover {
    color: #aaa;
}

.article article.content{
    font-size: 1.1rem;
}

.article article.content p{
    line-height: 2rem;
    margin-bottom: 2.5rem;
}


#table-of-contents {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 0 20px 0;
    display: block;
    float: none;
}
@media (min-width: 62em) {
    #table-of-contents {
        background-color: #f5f5f5;
        padding: 20px;
        display: inline-block;
        float: right;
        margin-bottom: 20px;
    }
}
#table-of-contents h3 {
    font-size: 1.2rem;
}

.org-src-container {
    border: 1px solid #e3edf3;
    padding: 10px;
    background-color: #F7FAFB;
    overflow: auto;
    margin: 1.6rem 0;
}


.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

.btn-hatena {
    color: #2c6ebd;
}
.pocket-btn {
    display: inline-block;
    vertical-align: top;
}

/* Set the colors in <pre> blocks from the Leuven theme */
pre                                      {margin-bottom: 0;}
pre span.org-builtin                     {color:#006FE0;font-weight:bold;}
pre span.org-string                      {color:#008000;}
pre span.org-keyword                     {color:#0000FF;}
pre span.org-variable-name               {color:#BA36A5;}
pre span.org-function-name               {color:#006699;}
pre span.org-type                        {color:#6434A3;}
pre span.org-preprocessor                {color:#808080;font-weight:bold;}
pre span.org-constant                    {color:#D0372D;}
pre span.org-comment-delimiter           {color:#8D8D84;}
pre span.org-comment                     {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-1            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-2            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-3            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-4            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-5            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-6            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-7            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-8            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-9            {color:#8D8D84;font-style:italic}
pre span.org-rainbow-delimiters-depth-1  {color:#707183;}
pre span.org-rainbow-delimiters-depth-2  {color:#7388d6;}
pre span.org-rainbow-delimiters-depth-3  {color:#909183;}
pre span.org-rainbow-delimiters-depth-4  {color:#709870;}
pre span.org-rainbow-delimiters-depth-5  {color:#907373;}
pre span.org-rainbow-delimiters-depth-6  {color:#6276ba;}
pre span.org-rainbow-delimiters-depth-7  {color:#858580;}
pre span.org-rainbow-delimiters-depth-8  {color:#80a880;}
pre span.org-rainbow-delimiters-depth-9  {color:#887070;}
pre span.org-sh-quoted-exec              {color:#FF1493;}
